<h2 mat-dialog-title>Nossos Valores</h2>
<mat-dialog-content class="mat-typography">
  <h3>Desenvolvendo Hábitos Atômicos: Transformando Vidas Passo a Passo</h3>
  <p>Somos uma empresa dedicada a ajudar as pessoas a desenvolverem hábitos saudáveis e
    positivos com base no livro "Atomic Habits". Nossa missão é capacitar nossos clientes a
    alcançarem suas metas e transformarem suas vidas através de pequenas mudanças diárias.</p>


  <p>Inspirados pelo conceito do autor James Clear, acreditamos no poder das pequenas ações
    contínuas para criar grandes resultados. Através de nossos programas e serviços, orientamos
    nossos clientes a construírem hábitos duradouros que os impulsionem em direção ao sucesso
    pessoal e profissional.</p>


  <p>Nossa abordagem é baseada na ciência do comportamento e psicologia, combinada com
    estratégias práticas e aplicáveis. Trabalhamos lado a lado com nossos clientes, fornecendo
    suporte individualizado e recursos para superar desafios e alcançar suas metas.</p>


  <p>Acreditamos que cada pessoa tem o potencial de alcançar o melhor de si mesmo, e estamos
    comprometidos em capacitar nossos clientes a se tornarem a melhor versão de si mesmos, um
    hábito de cada vez.</p>



  <p>Junte-se a nós nesta jornada de crescimento, transformação e sucesso através da implementação de
    hábitos atômicos que irão impulsionar você em direção a uma vida mais significativa e
    realizada. Estamos aqui para apoiar, guiar e celebrar suas conquistas ao longo do caminho.
    Juntos, vamos construir um futuro melhor, hábito a hábito.</p>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
